---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "Sep 2024 - Nov 2024",
    title: "Petinder",
    company: "Proyecto Voluntario",
    description:
      "Petinder es una plataforma cuya prioridad número uno es dar visibilidad a las protectoras de animales para poder incrementar las adopciones, educar a los usuarios sobre adopción responsable y reducir el abandono proporcionando a los usuarios con una gran variedad de actividades, sitios que visitar, experiencias de viajes y mucho mas para mostrar diferentes opciones que uno puede hacer junto a su mejor amigo.",
  },
  {
    date: "Sep 2024 - Nov 2024",
    title: "Stars League Fantasy",
    company: "Proyecto Voluntario",
    description:
      "Stars League Fantasy es una aplicación de fantasía diseñada para entusiastas del fútbol, en la que los usuarios crean y gestionan equipos virtuales basados en jugadores reales. La aplicación premia a los equipos en función de los resultados y el rendimiento de los jugadores en jornadas reales, proporcionando una experiencia interactiva y emocionante que combina estrategia y conocimientos deportivos.",
  },
  {
    date: "En desarrollo",
    title: "Moregains",
    company: "Proyecto Personal",
    description:
      "Moregains es una app para el seguimiento de gimnasio que usa algoritmos avanzados para mejorar el rendimiento físico. Ofrece recomendaciones personalizadas de entrenamiento y nutrición basadas en los datos del usuario.",
  },
  {
    date: "Mar 2024 - Jun 2024 · 4 meses",
    title: "Programador Full Stack (Prácticas)",
    company: "Profile Software Services",
    location: "Seville, Andalusia, Spain · Remote",
    description:
      "Participé en dos proyectos: Grupal: Aplicación para reservas de salas en la empresa. Individual (TFG): Página para una autoescuela con gestión de alumnos, clases, vehículos y profesores.",
  }
]
---

<ol class="relative">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>